* {
    box-sizing: border-box;
}
body {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    transform: skew(-2deg);
    transform-origin:top;
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    padding: 25% 25%;
    overflow: scroll;
    overflow-scrolling: auto;
    /*object-fit: initial;*/
    background: url("../Classroom-Images/Desk-Background.png") no-repeat center;
    background-size: 2000px;
    font-family: Arial;
}

.entire-paper{
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    transform: translate(-50, -50);
    transform-origin:top;
    width: 925px;
    height: 1200px;
    /*max-height: 875px;*/
    background: url("../Classroom-Images/papercurve-top-layer2.png");
    background-size: cover;
    padding: 5em 0 0 0;
    margin: 0 auto;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    overflow: scroll;
    overflow-scrolling: touch;
}



.entire-paper::before,
.entire-paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
}

.entire-paper::before {
    right: 40px;
    top: 10px;
    transform-origin: top;
    transform: rotate(2deg);
    background: url("../Classroom-Images/papertexture-bottom-layers1.png");
    z-index: -1;
}

.entire-paper::after {
    right: 80px;
    top: 10px;
    transform-origin: bottom;
    transform: skew(-2.5deg) ;
    background: url("../Classroom-Images/papertexture-bottom-layers2.png");
    z-index: -2;
}

.blind-lights{
    z-index: 10;
    position: absolute;
    right: 65px;
    top: 200px;
}

.head{
    margin:0 10% 20px 0;
}


.title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 20px;
}

p{
    margin-top: 0;
    margin-bottom: 20px;
}

.head{
    text-align: center;
}

.subhead {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    margin: 0 10% 0 1%;
    text-decoration: none;
    color: black;
}

.links{
    border-right: solid black thin;
    /*padding-right: 9em;*/
}

a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -.25em;
    width: 19%;
    text-align: center;
}

.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;


}

.collumns{
    width: 90%;
    margin-left: 6%;
    margin-right: auto;
}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 30%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}

.collumn + .collumn {
    border-left: 1px solid #2f2f2f;
}

.collumn .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}

.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl7{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl8{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl9{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl10{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";
}

.collumn .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .figure {
    margin: 0 0 20px;
}

.collumn .figcaption{
    font-style: italic;
    font-size: 12px;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}

/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
/*@media only all and (max-width: 1300px) {*/
/*    .weatherforcastbox{*/
/*        display: none;*/
/*    }*/

/*}*/

/*@media only all and (max-width: 1200px) {*/
/*    .collumn{*/
/*        width: 31%;*/
/*    }*/

/*}*/

/*@media only all and (max-width: 900px) {*/
/*    .collumn{*/
/*        width: 47%;*/
/*    }*/

/*}*/

/*@media only all and (max-width: 600px) {*/
/*    .collumn{*/
/*        width: 100%;*/
/*    }*/
/*    .collumn + .collumn {*/
/*        border-left: none;*/
/*        border-bottom: 1px solid #2f2f2f;*/
/*    }*/
/*    header{*/
/*        max-width: 320px;*/
/*        font-size: 60px;*/
/*        line-height: 54px;*/
/*        overflow: hidden;*/
/*    }*/

/*}*/